html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
  height: 80%;
  padding: 0;
  margin: 0;
  position: fixed;
}

#ui {
  width: 100%;
  height: 20%;
  top: 80%;
  padding: 0;
  margin: 0;
  position: fixed;
  background-color: #EEE;
}